.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  flex: 1;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery .item {
  height: 500px;
  width: 100%;
  margin-left: 0px;
  overflow: hidden;
  text-align: center;
}

.gallery .controls {
  position: absolute;
  top: 172px;
  height: 150px;
  background-color: red;
  background-color: transparent;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}