.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery .item {
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  text-align: center;
}

.gallery .controls {
  position: absolute;
  bottom: -14px;
  height: 150px;
  background-color: transparent;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 5em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

@media screen and (min-width: 768px){
  .gallery {
    position: relative;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery .item {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    text-align: center;
  }
  
  .gallery .controls {
    position: absolute;
    bottom: 144px;
    height: 150px;
    margin-right: -131px;
    background-color: transparent;
  }
  
  .gallery .control-button {
    display: inline-block;
    margin: 0 .02em;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
    transition: color .1s;
  }
}